$primary: #5d6248;
$secondary: #848f9c;
$success: #51984e;
$info: #202028;
$warning: #ce8816;
$danger: #f44336;
$light: #f3f0ed;
$dark: #1f1f22;
$tertiary: #f3f0ed;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
